<% include ../partials/header %>

<div style="width:100%;">
<div class="form-box wow fadeInUp" style="width: 40%; margin: 70px auto; box-shadow: 0 0 20px rgba(0,0,0,.3)">
                        	<div class="form-top"style="background: #111;
    border-bottom: 1px solid rgba(169,169,169,0.7);">
                        		<div class="form-top-left">
                        			<h1>Add Comment</h1>
                            		<p style="font-weight:100;">Fill in the form below to add comment:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<span aria-hidden="true" class="typcn typcn-pencil"></span>
                        		</div>
                            </div>
                            <div class="form-bottom" style="background:#333;">
			                    <form role="form" action="/campgrounds/<%= campground._id %>/comments" method="post" class="registration-form">
			                        <textarea class="form-group" style="border-radius:0px;" name="comment[text]" placeholder="Enter comment"></textarea>
			                        <button type="submit" class="btn" style="border-radius:0px;">Add!</button>
			                    </form>
		                    </div>
                        </div>
</div>

<% include ../partials/footer %> 