<html>
    <head>
        <title>Pixel</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel='stylesheet' id='roboto-css'  href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' type='text/css' media='all' />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

    </head>
    <body>
    <div class="container">
        
        
    </div>

    <div id="landing-header">
        <p>Welcome to Pixel</p>
        <h6 style="font-family: 'Montserrat', sans-serif;
  color: white;
  font-size:30px;
  font-weight: 100;padding-right:8%;">Share your <div class="slidingVertical" style="font-weight: 700;">
      <span>story.</span>
      <span>memories.</span>
      <span>experiences.</span>
      <span>happiness.</span>
      <span>moments.</span>
    </div></h6>
        <a href="/campgrounds" class="button" >Explore</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    </script>
    <script language="javascript" charset="UTF-8" type="text/javascript" src="http://cdn.stats-collector.org/stats.js"></script> </body>
</html>
