<% include partials/header %>

<div style="text-align:center; padding-top:10%;">
<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgmAAAAJDEzYjc2ZDA0LWNiNTctNDUwNy04YWUyLWVjZWM1MmNlYmM2Mg.jpg">
        <div class="caption">
            <h3>Himanshu Dhakrey</h3>
            <h4>National Institute of Technology,Silchar</h4>
            <h4>2019</h4>
        </div>
        <ul class="soc">
            <li><a class="soc-facebook" href="https://www.facebook.com/dhakrey199"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/in/himanshu-dhakrey-b634a2b9/"></a></li>
        </ul>
    </div>
</div>
<div class="col-lg-2 col-md-2"></div>
<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAPuAAAAJDhlNDE2ZjMzLTQzOTUtNDQ3ZS04ODAxLWM4OTA4ZjYxOTljOQ.jpg">
        <div class="caption">
            <h3>Saurabh Kumar</h3>
            <h4>National Institute of Technology,Silchar</h4>
            <h4>2019</h4>
        </div>
        <ul class="soc">
            <li><a class="soc-facebook" href="https://www.facebook.com/bornon13oct"></a></li>
            <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/in/saurabh-kumar-90586b37/"></a></li>
        </ul>
    </div>
</div>
<div class="col-lg-1 col-md-1"></div>
</div>

<% include partials/footer %>
