<% include ../partials/header %>

<div class="jumbotron">
    <h1>This is landing page</h1>
    <p>An awesome collection of campgrounds</p>
    <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-large">Add campground</a>
    </p>
</div>
<div class="row text-center" style="display:flex; flex-wrap:wrap;">
<% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
                <h4><%= campground.name %></h4>
            </div>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
        </div>
    </div>
<% }); %>
</div>
<% include ../partials/footer %>
